<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="E://Logs.txt//ComplicatedFile.txt" layout="${uppercase:${level}} | ${logger} | ${message} | ${date:format=dd.MM.yyyy}" />
      <target name ="logfileInfo" xsi:type="File" fileName="E://Logs.txt//ComplicatedFile.txt" />
      <target name="email" xsi:type = "Mail" html="true" subject="Error Received" body="${message}" layout="${message}"
        to="forprogramUlgtu@gmail.com"
        from="forprogramUlgtu@gmail.com"
        enableSsl="true"
        smtpUsername="forprogramUlgtu@gmail.com"
        smtpPassword="ulgtu_test73"
        smtpAuthentication="Basic"
        smtpServer="smtp.gmail.com"
        deliveryMethod ="Network"
        smtpPort="587"/>
    </targets>
    <rules>
      <logger name="*" level="Info" writeTo="logfileInfo" />
      <logger name="*"  level ="Warn, Error"  writeTo="logfile" />
      <logger name="*" level="Fatal" writeTo="email" />
    </rules>
  </nlog>
</configuration>